<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="conexion" connectionString="Data Source=MARCOSBERRU76BC\SQLEXPRESS;Initial Catalog=viviendajoven2019ultima;Integrated Security=True" />
    </connectionStrings>
    <!-- <bindings>
    <basicHttpBinding>
      <binding name="BasicHttpBinding_IViviendaJoven" />
    </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:56326/ServicioViviendaJoven.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioViviendaJoven"
          contract="ServicioViviendaJoven.IServicioViviendaJoven" name="BasicHttpBinding_IServicioViviendaJoven" />
    </client> -->
</configuration>