<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicioViviendaJoven" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:56326/ServicioViviendaJoven.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioViviendaJoven"
                contract="ServicioViviendaJovenClient.IServicioViviendaJoven"
                name="BasicHttpBinding_IServicioViviendaJoven" />
        </client>
    </system.serviceModel>
</configuration>